name: Install Test
on:
  push:
      branches:
      - 'master'
      tags:
      - v*
  release:
  workflow_dispatch:
  schedule:
  - cron: "0 16 */2 * *"

jobs:
  basic-install-test:
    name: Basic Installation Test
    runs-on: windows-2022
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"
      - name: Prepare workspace
        run: |
          tree
          cd ci-helpers
          ./run.ps1
          cd ../
          tree
          dir texlive\tools
      - name: Install Texlive using Chocolatey
        run: |
          cd texlive
          choco pack
          choco install --no-progress texlive -source "." --log-file "$PWD\choco.txt" --execution-timeout=6000

      - name: Dump Registry Keys
        continue-on-error: true
        run: |
          Import-Module "$PWD\.github\cihelper\helper.ps1"
          Get-UninstallRegistryKey "Tex Live*"
          #I think it is published
          choco uninstall texlive
      - name: Upload Logs if failes
        uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: chocologs-basic-install-fail
          path: C:\ProgramData\chocolatey\logs\*
      - name: Upload Logs if Success
        uses: actions/upload-artifact@v6
        with:
          name: chocologs-basic-install-success
          path: C:\ProgramData\chocolatey\logs\*
      - name: Upload Logs if Sucess
        uses: actions/upload-artifact@v6
        with:
          name: chocologs1-basic-install-success
          path: texlive\choco.txt
      - name: Upload Logs if failes
        uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: pack-basic-install-fail
          path: texlive/*.nupkg
      - name: Upload Profile
        uses: actions/upload-artifact@v6
        with:
          name: profile-basic-install
          path: C:\Users\runneradmin\AppData\Local\Temp\chocolatey\texlive.profile
  infra-only-test:
    name: Infra-Only test with some Latex Package
    runs-on: windows-2022
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"
      - name: Prepare workspace
        run: |
          tree
          cd ci-helpers
          ./run.ps1
          cd ../
          tree
          dir texlive\tools
      - name: Install Texlive using Chocolatey
        run: |
          cd texlive
          choco pack
          choco install --no-progress texlive -source "." --log-file "$PWD\choco.txt" --params="'/scheme:infraonly /extraPackages:latex,xetex'"

      - name: Dump Registry Keys
        continue-on-error: true
        run: |
          Import-Module "$PWD\.github\cihelper\helper.ps1"
          Get-UninstallRegistryKey "Tex Live*"
          #I think it is published
          choco uninstall texlive
      - name: Upload Logs if failes
        uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: chocologs-infra-only-fail
          path: C:\ProgramData\chocolatey\logs\*
      - name: Upload Logs if Sucess
        uses: actions/upload-artifact@v6
        with:
          name: chocologs-infra-only-success
          path: C:\ProgramData\chocolatey\logs\*
      - name: Upload Logs if Sucess
        uses: actions/upload-artifact@v6
        with:
          name: chocologs1-infra-only-success
          path: texlive\choco.txt
      - name: Upload Logs if failes
        uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: pack-infra-only-fail
          path: texlive/*.nupkg
      - name: Upload Profile
        uses: actions/upload-artifact@v6
        with:
          name: profile-infra
          path: C:\Users\runneradmin\AppData\Local\Temp\chocolatey\texlive.profile
  minimal-install-test:
    name: Minimal Installation Test
    runs-on: windows-2022
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"
      - name: Prepare workspace
        run: |
          tree
          cd ci-helpers  
          ./run.ps1
          cd ../
          tree
          dir texlive\tools
      - name: Install Texlive Chocolatey
        run: |
          cd texlive
          choco pack
          choco install --no-progress texlive -source "." --log-file "$PWD\choco.txt" --params="'/scheme:minimal'"

      - name: Dump Registry Keys
        continue-on-error: true
        run: |
          Import-Module "$PWD\.github\cihelper\helper.ps1"
          Get-UninstallRegistryKey "Tex Live*"
          #I think it is published
          choco uninstall texlive
      - name: Upload Logs if failes
        uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: chocologs-minimal-install-fail
          path: C:\ProgramData\chocolatey\logs\*
      - name: Upload Logs if Sucess
        uses: actions/upload-artifact@v6
        with:
          name: chocologs-minimal-install-success
          path: C:\ProgramData\chocolatey\logs\*
      - name: Upload Logs if Sucess
        uses: actions/upload-artifact@v6
        with:
          name: chocologs1-minimal-install-success
          path: texlive\choco.txt
      - name: Upload Logs if failes
        uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: pack-minimal-install-fail
          path: texlive/*.nupkg
      - name: Upload Profile
        uses: actions/upload-artifact@v6
        with:
          name: profile-minimal-install
          path: C:\Users\runneradmin\AppData\Local\Temp\chocolatey\texlive.profile
  test-command-line-params:
    name: Installer Parameters Test
    runs-on: windows-2022
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"
      - name: Prepare workspace
        run: |
          tree
          cd ci-helpers  
          ./run.ps1
          cd ../
          tree
          dir texlive\tools
      - name: Install Texlive Chocolatey
        run: |
          cd texlive
          choco pack
          choco install --no-progress texlive -source "." --log-file "$PWD\choco.txt" --params="'/InstallerParameters:--repository="https://mirrors.mit.edu/CTAN/systems/texlive/tlnet/" /extraPackages:ctex'"

      - name: Dump Registry Keys
        continue-on-error: true
        run: |
          Import-Module "$PWD\.github\cihelper\helper.ps1"
          Get-UninstallRegistryKey "Tex Live*"
          #I think it is published
          choco uninstall texlive
      - name: Upload Logs if failes
        uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: chocologs-command-line-fail
          path: C:\ProgramData\chocolatey\logs\*
      - name: Upload Logs if Sucess
        uses: actions/upload-artifact@v6
        with:
          name: chocologs-param-install-success
          path: C:\ProgramData\chocolatey\logs\*
      - name: Upload Logs if Sucess
        uses: actions/upload-artifact@v6
        with:
          name: chocologs1-param-install-success
          path: texlive\choco.txt
      - name: Upload Logs if failes
        uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: pack-param-install-fail
          path: texlive/*.nupkg
      - name: Upload Profile
        uses: actions/upload-artifact@v6
        with:
          name: profile-param-install
          path: C:\Users\runneradmin\AppData\Local\Temp\chocolatey\texlive.profile
